<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.antrain.user.mapper.UserMapper">

    <resultMap type="org.antrain.user.domain.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="school" column="school"/>
        <result property="dept" column="dept"/>
        <result property="major" column="major"/>
        <result property="address" column="address"/>
        <result property="contact" column="contact"/>
        <result property="introduce" column="introduce"/>
        <result property="interest" column="interest"/>
        <result property="integral" column="integral"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>